
*{
    padding: 5px 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}

a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: white;
}
a:hover{
    font-size: 125%;
    transition: 0.3s;
}

h1 {
    text-align: center;
}

header {
    background-image: url(https://github.com/Magsei/magsei.github.io/blob/main/bgimage1.jpg?raw=true);
}

section{
    margin: 1% 1%;
}

p{
    margin: 3% 3%;
}

nav{
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.text-box{
    margin: auto;
    width: 100%;
    color: black;
    position: relative;
    text-align: center;
}

.text-box p{
    margin: auto;
}

body {
    text-align: center;
}


.colorful-box {
    width: 100px;
    height: 100px;
    margin: 20px;
    border: 2px solid #333;
    display: inline-block;
}
