
*{
    margin: 0;
    padding: 0;
}

header {
    background-image: url(https://github.com/Magsei/magsei.github.io/blob/main/bgimage1.jpg?raw=true);
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.colorful-box {
    width: 100px;
    height: 100px;
    margin: 20px;
    border: 2px solid #333;
    display: inline-block;
}
